@mixin shop-theme($config-or-theme)
  $color: mat-get-color-config($config-or-theme)
  @if $color != null
    @include shop-color($color)

@mixin shop-color($config-or-theme)
  $config: mat-get-color-config($config-or-theme)

  $primary: map-get($config, primary)
  $accent: map-get($config, accent)
  $foreground: map-get($config, foreground)
  $background: map-get($config, background)

  .filters
    background-color: mat-color($background, background)
    color: mat-color($foreground, base)
    padding-top: 105px
    padding-left: 20px

  .products-container
    background-color: mat-color($background, background)
    color: mat-color($foreground, base)

#shop-page
  display: grid
  grid-template-columns: 250px 1fr
  width: 100%
  height: 100vh

  .filters
    width: 100%
    height: 100%
    display: grid
    grid-auto-rows: min-content

  .products-container
    width: 100%
    height: 100%
    display: grid
    grid-template-rows: 80px
    grid-auto-rows: 1fr
    padding: 25px

    & product-card:nth-child(n)
      padding: 5px


    .product-container-options
      width: 100%
      height: 100%
      display: grid

      .form-autocomplete
        width: 100%
        display: grid

      .autocomplete
        width: 90%
        place-self: center




@media screen and ( min-width: 0px)
  .products-container
    grid-template-columns: 1fr
    .product-container-options
      grid-column: 1 / 2

@media screen and ( min-width: 900px)
  .products-container
    grid-template-columns: 1fr 1fr
    .product-container-options
      grid-column: 1 / 3

@media screen and ( min-width: 1200px)
  .products-container
    grid-template-columns: 1fr 1fr 1fr
    .product-container-options
      grid-column: 1 / 4

@media screen and ( min-width: 1600px)
  .products-container
    grid-template-columns: 1fr 1fr 1fr 1fr
    .product-container-options
      grid-column: 1 / 5

