@mixin app-theme($config-or-theme)
  $color: mat-get-color-config($config-or-theme)
  @if $color != null
    @include app-color($color)

@mixin app-color($config-or-theme)
  $config: mat-get-color-config($config-or-theme)
  // Extract the palettes you need from the theme definition.
  $primary: map-get($config, primary)
  $accent: map-get($config, accent)
  $foreground: map-get($config, foreground)
  $background: map-get($config, background)
